Repository scientific-python/blog.scientific-python.org, pull requests merged in 2022-07, with the labels that each got.

#76 Add pre-commit and Hugo checks to makefile
  Makefile
Labels: maintenance

#66 Blog post: Alt text event summary
  content/posts/scientific-python/alt-text-workshop-summary/alt-text-header.png
  content/posts/scientific-python/alt-text-workshop-summary/group.png
  content/posts/scientific-python/alt-text-workshop-summary/index.md
Labels: accepted, scientific-python

#88 Add missing alt text to blog posts
  content/posts/matplotlib/book/index.md
  content/posts/matplotlib/codeswitching-visualization/.ipynb_checkpoints/index-checkpoint.md
  content/posts/matplotlib/codeswitching-visualization/index.md
  content/posts/matplotlib/create-ridgeplots-in-matplotlib/index.md
  content/posts/matplotlib/draw-all-graphs-of-n-nodes/index.md
  content/posts/matplotlib/elementary-cellular-automata/index.md
  content/posts/matplotlib/matplotlib-cyberpunk-style/index.md
Labels: matplotlib
